/* :root {
    --bs-background: #0B2447;
    --bs-background-white: #F6F6F6;
    --padding-x: 24px;
    --padding-y: 0;
}

body {
    background-color: var(--bs-background);
    padding: var(--padding-y) var(--padding-x);
}

body.white {
    background-color: var(--bs-background-white);
} */

/* TopBar CSS */
.header_style {
    height: 87px;
    background-color: #0D2A53;
    border-radius: 8px;
}

.header_style_white {
    height: 87px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.header_button {
    width: 196px;
    height: 44px;
    color: #D2DB08;
    border-radius: 6px;
    padding: 0 19px;
    font-size: 22px;
    font-family: 'Roboto';
    left: 1173px;
}

.header_button_white {
    width: 196px;
    height: 44px;
    color: #A237FF;
    border-color: #A237FF;
    border-radius: 6px;
    padding: 0 19px;
    font-size: 22px;
    font-family: 'Roboto';
    left: 1173px;
}

.header_button_white:hover {
    background-color: transparent;
    border-color: #A237FF;
    color: #A237FF;
}

.header_button_white:active {
    background-color: transparent;
    border-color: #A237FF;
    color: #A237FF;
}

.header_button_white:focus {
    background-color: transparent;
    border-color: #A237FF;
    color: #A237FF;
    box-shadow: none;
}

.header_button.btn-outline-info {
    border-color: #D2DB08;
}

.btn {
    padding: 0;
}

.btn.header_button:hover {
    width: 196px;
    height: 44px;
    color: #D2DB08;
    border-radius: 6px;
    padding: 0 19px;
    font-size: 22px;
    font-family: 'Roboto';
    left: 1173px;
    background-color: transparent;
    border-color: #D2DB08
}

.header_dashboard_out {
    width: 209px;
    height: 39px;
    background-color: #0B2447;
    padding: 0 55px;
    border-radius: 6px;
}

.header_dashboard_out_white {
    width: 209px;
    height: 39px;
    background-color: #F6F6F6;
    padding: 0 55px;
    border-radius: 6px;
}

.header_logo {
    width: 72px;
    height: 72px;
}

/* SideBar CSS */
.SideBar_out {
    width: 74px;
    /* height: 920px; */
    background-color: #0D2A53;
    border-radius: 8px;
}

.SideBar_out_white {
    width: 74px;
    /* height: 920px; */
    background-color: #FFFFFF;
    border-radius: 8px;
}

.MainOption {
    cursor: pointer;
}

/* MainTopBar CSS */
.MainTopBar_out {
    /* height: 77px; */
    background-color: #0D2A53;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.MainTopBar_out_white {
    /* height: 77px; */
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}


.MainTopHeader_button {
    width: 149px;
    height: 44px;
    color: #E6E6E6;
    background-color: transparent;
    border-color: #E6E6E6;
    border-radius: 8px;
}

.MainTopHeader_button_white {
    width: 149px;
    height: 44px;
    color: #0D2A53;
    background-color: transparent;
    border-color: #0D2A53;
    border-radius: 8px;
}

.MainTopHeader_button.btn-outline-info {
    border-color: #E6E6E6;
}

.Dropdown_style {
    margin-left: -6px;
    margin-top: -49px;
    background-color: #0B2447;
    color: #0D2A53;
    padding-left: 5px;
    padding-right: 5px;
}

.Dropdown_style_white {
    margin-left: -6px;
    margin-top: -49px;
    background-color: #F6F6F6;
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-toggle::after {
    display: none;
}

.Dropdown_item_color {
    color: #E6E6E6;
    display: flex;
    justify-content: center;
    background-color: #0D2A53;
    margin-top: 5px;
}

.Dropdown_item_color_white {
    color: #0D2A53;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    margin-top: 5px;
}

.Dropdown_item_color1 {
    color: #D2DB08;
    display: flex;
    justify-content: center;
    background-color: #0D2A53;
    margin-top: 5px;
}

.Dropdown_item_color2 {
    color: #FFA200;
    display: flex;
    justify-content: center;
    background-color: #0D2A53;
    margin-top: 5px;
}

.Dropdown_item_color3 {
    color: #FBFFA2;
    display: flex;
    justify-content: center;
    background-color: #0D2A53;
    margin-top: 5px;
}

/* MainMiddleBar CSS */
.MainMiddleBar_out {
    /* height: 522px; */
    background-color: #0D2A53;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
}

.MainMiddleBar_out_white {
    /* height: 522px; */
    background-color: #FFFFFF;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
}

/* AdvertisementBanner_out */
.AdvertisementBanner_out {
    height: 318px;
    background-color: #0D2A53;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: bold;
    color: #E6E6E6;
}

.AdvertisementBanner_out_white {
    height: 318px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: bold;
    color: #0D2A53;
}

/* LeftBarHighlight_out */
.LeftBarHighlight_out {
    margin-top: 20px;
    height: 590px;
    background-color: #0D2A53;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
}

.LeftBarHighlight_out_white {
    margin-top: 20px;
    height: 590px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
}


.LeftBarHighlight_header_text {
    font-weight: bold;
    font-family: 'Roboto';
    color: #E6E6E6;
    font-size: 25px;
}

.LeftBarHighlight_header_text_white {
    font-weight: bold;
    font-family: 'Roboto';
    color: #0D2A53;
    font-size: 25px;
}

/* LeftBarHighlightCard_out */
.LeftBarHighlightCard_out {
    /* height: 141px; */
    background-color: #0B2447;
    border-radius: 8px;
    display: flex;
    margin-top: 20px;
}

.LeftBarHighlightCard_out_white {
    /* height: 141px; */
    background-color: #F6F6F6;
    border-radius: 8px;
    display: flex;
    margin-top: 20px;
}

/* MainMiddleBarMiddle_out */
.MainMiddleBarMiddle_out {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-grow: 0.1;
}

.MainMiddleBarMiddle_out_none {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-grow: 0.0465;
    margin-left: -0.1px;
}
.MainMiddleBarMiddle_1_1 {
    color: #E6E6E6;
    font-size: 19px;
}

.MainMiddleBarMiddle_1_1_white {
    color: #0D2A53;
    font-size: 19px;
}

.MainMiddleBarMiddle_1_2 {
    color: #D2DB08;
    font-size: 38px;
}

.MainMiddleBarMiddle_1_2_white {
    color: #00659D;
    font-size: 38px;
}

.MainMiddleBarMiddle_2_2 {
    color: #FF9100;
    font-size: 38px;
}

.MainMiddleBarButtonGroup_out {
    display: flex;
    margin-top: 40px;
    flex-grow: 0.2;
    justify-content: space-evenly;
}

.MainMiddleBarButtonGroup_out_none {
    display: none;
    margin-left: 10px;
}

.MainMiddleBarButton_1 {
    width: 134px;
    height: 47px;
    font-size: 17px;
    color: #77FFA9;
    border-radius: 6px;
}

.MainMiddleBarButton_1_none {
    display: none;
}

.MainMiddleBarButton_2_none {
    display: none;
}

.MainMiddleBarButton_1:hover {
    background-color: transparent;
    color: #77FFA9;
}

.MainMiddleBarButton_1:active {
    background-color: transparent;
    color: #77FFA9;
}

.MainMiddleBarButton_1:focus {
    background-color: transparent;
    color: #77FFA9;
    box-shadow: none;
}

.MainMiddleBarButton_1_white {
    width: 134px;
    height: 47px;
    font-size: 17px;
    color: #00659D;
    border-radius: 6px;
    border-color: #00659D;
}

.MainMiddleBarButton_1_white:hover {
    background-color: transparent;
    color: #00659D;
}

.MainMiddleBarButton_1_white:active {
    background-color: transparent;
    color: #00659D;
}

.MainMiddleBarButton_1_white:focus {
    background-color: transparent;
    color: #00659D;
    box-shadow: none;
}

.MainMiddleBarButton_1.btn-outline-info {
    border-color: #77FFA9;
}

.MainMiddleBarButton_2 {
    width: 134px;
    height: 47px;
    font-size: 17px;
    color: #4DD5FF;
    border-radius: 6px;
}

.MainMiddleBarButton_2:hover {
    width: 134px;
    height: 47px;
    font-size: 17px;
    color: #4DD5FF;
    border-radius: 6px;
    background-color: transparent;
}

.MainMiddleBarButton_2:active {
    width: 134px;
    height: 47px;
    font-size: 17px;
    color: #4DD5FF;
    border-radius: 6px;
    background-color: transparent;
}

.MainMiddleBarButton_2:focus {
    width: 134px;
    height: 47px;
    font-size: 17px;
    color: #4DD5FF;
    border-radius: 6px;
    background-color: transparent;
    box-shadow: none;
}

.MainMiddleBarButton_2_white {
    width: 134px;
    height: 47px;
    font-size: 17px;
    color: #3F77DB;
    border-radius: 6px;
    border-color: #3F77DB;
}

.MainMiddleBarButton_2_white:hover {
    background-color: transparent;
}

.MainMiddleBarButton_2_white:active {
    background-color: transparent;
    box-shadow: none;
}

.MainMiddleBarButton_2_white:focus {
    background-color: transparent;
    box-shadow: none;
}

.MainMiddleBarButton_2.btn-outline-info {
    border-color: #4DD5FF;
}

/* MainMiddleBarMiddleBody */
.MatchDetails_out {
    width: 55%;
    margin-top: 21.17px;
}

.Analysis_out {
    width: 45%;
    margin-top: 21.17px;
}

.Analysis_sub {
    color: #E6E6E6;
}

.Analysis_sub_white {
    color: #0D2A53;
}

.MatchDetails_header_text {
    color: #E6E6E6;
    font-size: 20px;
}

.MatchDetails_header_text_white {
    color: #0D2A53;
    font-size: 20px;
}

.MatchDetailsBox_out {
    /* height: 241px; */
    background-color: #0B2447;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 15.13px;
    margin-right: 10px;
    padding-top: 8px;
}

.MatchDetailsBox_out_white {
    /* height: 241px; */
    background-color: #F6F6F6;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 15.13px;
    margin-right: 10px;
    padding-top: 8px;
}

.Champion_text {
    color: #E6E6E6;
    font-size: 20px;
}

.Champion_text_white {
    color: #0D2A53;
    font-size: 20px;
}

.Champion_text_public {
    font-size: 17px;
    color: #E6E6E6;
}

.Champion_text_public_white {
    font-size: 17px;
    color: #0D2A53;
}

.display_MatchDetail {
    justify-content: space-between;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

.AnalysisBox_out {
    /* height: 241px; */
    background-color: #0B2447;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 15.13px;
    margin-right: 10px;
    padding-top: 8px;
}

.AnalysisBox_out_white {
    /* height: 241px; */
    background-color: #F6F6F6;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 15.13px;
    margin-right: 10px;
    padding-top: 8px;
}

.Clock_logo_Size {
    /* position: absolute; */
    margin-top: -49px;
    margin-left: -15px;
}

.Champion_text_1 {
    /* position: absolute; */
    color: #E6E6E6;
    margin-top: -103px;
    margin-left: 35px;
    font-size: 20px;
}

.Champion_text_1_white {
    /* position: absolute; */
    color: #0D2A53;
    margin-top: -103px;
    margin-left: 35px;
    font-size: 20px;

}

.MatchingDetailFooterButton {
    margin-top: 40px;
}

.MainMiddleBarFooter_out {
    justify-content: space-between;
    margin-top: 20px;
}

.Footer_text {
    color: #E6E6E6;
    font-size: 21px;
}

.Footer_text_white {
    color: #0D2A53;
    font-size: 21px;
}

/* MainBarEdit */
.MainBar_Edit_out {
    background-color: #0D2A53;
    align-items: center;
    margin-top: 20px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    height: 929px;
}

.MainBar_Edit_out_white {
    background-color: #FFFFFF;
    align-items: center;
    margin-top: 20px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    height: 929px;
}

.MainBarCommentMiddle_out {
    /* height: 522px; */
    margin-top: 20px;
    align-items: center;
    border-radius: 8px;
}

.MainBar_Comment_out {
    align-items: center;
    margin-top: 20px;
    border-radius: 8px;
}

.MainBarEdit_Header {
    color: #E6E6E6;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 26px;
}

.MainBarEdit_Header_white {
    color: #0D2A53;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 26px;
}

.MainBar_Edit_Search {
    justify-content: space-between;
    margin-top: 15px;
}

.MainBar_Edit_Search_Comments {
    justify-content: space-between;
    margin-top: 15px;
    height: 77px;
    align-items: center;
    background-color: #0D2A53;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.MainBar_Edit_Search_Comments_white {
    justify-content: space-between;
    margin-top: 15px;
    height: 77px;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.search_Icon {
    position: absolute;
    margin-top: 6px;
    margin-left: 7px;
}

.search_Icon_none {
    display: none;
}

.searchBar_Style {
    width: 223px;
    height: 44px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #E6E6E6;
    color: #E6E6E6;
}

.searchBar_Style_white {
    width: 223px;
    height: 44px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #0D2A53;
    color: #0D2A53;
}

.MainBar_Edit_Highlight_Card_out {
    height: 130px;
    border-radius: 8px;
    background-color: #0D2A53;
}

.searchBar_Style:focus-visible {
    border: 2px solid #E6E6E6;
}

.MainTopHeader_button_Comment {
    width: 85px;
    height: 44px;
    color: #E6E6E6;
    background-color: transparent;
    border-color: #E6E6E6;
    border-radius: 8px;
    margin-left: 10px;
}

.MainTopHeader_button_Comment_white {
    width: 85px;
    height: 44px;
    color: #0D2A53;
    background-color: transparent;
    border-color: #0D2A53;
    border-radius: 8px;
    margin-left: 10px;
}

/* Filter Modal Css */
.modal-content {
    background-clip: none;
    background-color: #0D2A53;
    width: 567px;
    height: 862px;
    padding-left: 23.92px;
    padding-right: 23.92px;
}

#white .modal-content {
    background-clip: none;
    background-color: #FFFFFF;
    width: 567px;
    height: 862px;
    padding-left: 23.92px;
    padding-right: 23.92px;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    padding: 0;
}

.modal-footer {
    border-top: none;
}

.Filter_Modal_Label {
    color: #E6E6E6;
    font-size: 20px;
    font-weight: medium;
}

.Filter_Modal_Label_white {
    color: #0D2A53;
    font-size: 20px;
    font-weight: medium;
}

.Filter_Modal_Label_white {
    color: #0D2A53;
    font-size: 20px;
    font-weight: medium;
}

.form-select {
    background-image: none;
    border: none;
    background-color: #0B2447;
    color: #E6E6E6;
    text-align: center;
}

.white .form-select {
    background-image: none;
    border: none;
    background-color: #F6F6F6;
    color: #0D2A53;
    text-align: center;
}

.form-select:focus-visible {
    background-image: none;
    border: none;
}

.form-select:focus {
    background-image: none;
    border: none;
}

#white .form-select {
    background-image: none;
    border: none;
    background-color: #F6F6F6;
    color: #0D2A53;
    text-align: center;
}

.form-select_white:focus-visible {
    background-image: none;
    border: none;
}

.form-select_white:focus {
    background-image: none;
    border: none;
}

.Filter_Modal_Label {
    margin-top: 0.5px;
}

.crypto_dropdown {
    margin-top: 7px;
}

.modal_Footer_Button {
    width: 160px;
    height: 53px;
    color: #D2DB08;
    border-radius: 8px;
    padding: 0 19px;
    font-size: 22px;
    font-family: Light;
}
.modal_Footer_Button:hover {
    color: #D2DB08;
    font-family: Light;
    background-color: transparent;
}
.modal_Footer_Button:active {
    color: #D2DB08;
    font-family: Light;
    background-color: transparent;
}
.modal_Footer_Button:focus {
    color: #D2DB08;
    font-family: Light;
    background-color: transparent;
    box-shadow: none;
}
#TermsUse_white .modal-content {
    background-color: #FFFFFF;
}

#TermsUse_white1 .modal-content {
    background-color: #FFFFFF;
    margin-left: 8px;
}

.modal_Footer_Button_white {
    width: 160px;
    height: 53px;
    color: #3F77DB;
    border-radius: 8px;
    padding: 0 19px;
    font-size: 22px;
    font-family: Light;
    border-color: #3F77DB;
}
.modal_Footer_Button_white:hover {
    color: #3F77DB;
    font-family: Light;
    border-color: #3F77DB;
    background-color: transparent;
}
.modal_Footer_Button_white:active {
    color: #3F77DB;
    font-family: Light;
    border-color: #3F77DB;
    background-color: transparent;
}
.modal_Footer_Button_white:focus {
    color: #3F77DB;
    font-family: Light;
    border-color: #3F77DB;
    background-color: transparent;
    box-shadow: none;
}
.modal_Footer_Button.btn-outline-info {
    border-color: #D2DB08;
}

#notification .modal-content {
    width: 473px;
    height: 553px;
    margin-left: 579px;
    margin-top: 100px;
}

#notification_white .modal-content {
    width: 473px;
    height: 553px;
    margin-left: 579px;
    margin-top: 100px;
    background-color: #FFFFFF;
}

#PromoteMe .modal-content {
    width: 567px;
    height: 851px;
    margin-top: 50px;
}

#ModalSupport .modal-content {
    width: 567px;
    height: 696px;
    margin-top: 131px;
}

#ModalSupport_white .modal-content {
    width: 567px;
    height: 696px;
    margin-top: 131px;
    background-color: #FFFFFF;
}

.ModalSupport_1 {
    background-color: transparent;
    color: #E6E6E6;
    margin-top: 17px;
}

.ModalSupport_1_white {
    background-color: transparent;
    color: #0D2A53;
    margin-top: 17px;
}

.subject_out {
    background-color: transparent;
    width: 100%;
    border-radius: 8px;
    background-color: #0B2447;
    color: #E6E6E6;
    border: none;
    height: 42.5px;
    margin-top: 10px;
}

.subject_out:focus-visible {
    border: none;
}

.subject_out_white {
    background-color: transparent;
    width: 100%;
    border-radius: 8px;
    background-color: #F6F6F6;
    color: #0D2A53;
    border: none;
    height: 42.5px;
    margin-top: 10px;
}

.subject_out_white:focus-visible {
    border: none;
}

.message_out {
    background-color: transparent;
    width: 100%;
    border-radius: 8px;
    background-color: #0B2447;
    color: #E6E6E6;
    border: none;
    height: 168px;
    margin-top: 10px;
}

.message_out:focus-visible {
    border: none;
}

.message_out_white {
    background-color: transparent;
    width: 100%;
    border-radius: 8px;
    background-color: #F6F6F6;
    color: #0D2A53;
    border: none;
    height: 168px;
    margin-top: 10px;
}

.message_out_white:focus-visible {
    border: none;
}

.Support_send_button {
    width: 160px;
    height: 53px;
    color: #D2DB08;
    border-color: #D2DB08;
    border-radius: 8px;
    font-size: 25px;
    margin-top: 49.5px;
}

.Support_send_button_white {
    width: 160px;
    height: 53px;
    color: #00659D;
    border-color: #00659D;
    border-radius: 8px;
    font-size: 25px;
    margin-top: 49.5px;
}

.ModalSupport_2 {
    color: #E6E6E6;
    font-size: 18px;
    text-align: center;
    padding: 0;
    margin-top: 19px;
}

.ModalSupport_2_white {
    color: #0D2A53;
    font-size: 18px;
    text-align: center;
    padding: 0;
    margin-top: 19px;
}

#Financial .modal-content {
    width: 567px;
    height: 606px;
    margin-top: 150px;
}

#Financial_white .modal-content {
    width: 567px;
    height: 606px;
    margin-top: 150px;
    background-color: #FFFFFF;
}

#Withdrawal .modal-content {
    width: 567px;
    height: 577.92px;
    margin-top: 200px;
}

.ModalFinancial_1 {
    justify-content: space-between;
}

.ModalFinancial_2 {
    color: #D2DB08;
    font-size: 20px;
}

.ModalFinancial_2_white {
    color: #00659D;
    font-size: 20px;
}

.ModalFinancial_3 {
    color: #E6E6E6;
    font-size: 20px;
}

.ModalFinancial_3_white {
    color: #0D2A53;
    font-size: 20px;
}

.ModalFinancial_4 {
    color: #4DD5FF;
    font-size: 20px;
}

.ModalFinancial_4_white {
    color: #00659D;
    font-size: 20px;
}

.ModalFinancial_5 {
    background-color: #0B2447;
    height: 168px;
    color: #E6E6E6;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 30px;
}

.ModalFinancial_5_white {
    background-color: #F6F6F6;
    height: 168px;
    color: #0D2A53;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 30px;
}

.Financail_reply_button {
    color: #D2DB08;
    border-color: #D2DB08;
    width: 183px;
    height: 53px;
    border-radius: 8px;
    font-size: 25px;
}

.Financail_reply_button_white {
    color: #00659D;
    border-color: #00659D;
    width: 183px;
    height: 53px;
    border-radius: 8px;
    font-size: 25px;
}

.Financial_CloseRequest_button {
    color: #FF7171;
    border-color: #FF7171;
    width: 183px;
    height: 53px;
    border-radius: 8px;
    font-size: 25px;
}

#Reply .modal-content {
    width: 567px;
    height: 829px;
    margin-top: 50px;
}

#Reply_white .modal-content {
    width: 567px;
    height: 829px;
    margin-top: 50px;
    background-color: #FFFFFF;
}

.modal-content {
    z-index: 10000000000;
}

#Renew .modal-content {
    width: 567px;
    height: 906px;
}

#Renew1_white .modal-content {
    width: 567px;
    height: 745px;
    margin-top: 100px;
    background-color: #FFFFFF;
}

#Renew_white .modal-content {
    width: 567px;
    height: 906px;
    background-color: #FFFFFF;
}

#Renew1 .modal-content {
    width: 567px;
    height: 745px;
    margin-top: 100px;
}

.ModalRenew_1 {
    justify-content: center;
    grid-gap: 30px
}

.ModalRenew_2 {
    width: 118.06px;
    height: 29.92px;
    background-color: #0B2447;
    color: #E6E6E6;
    font-size: 18px;
    text-align: center;
}

.ModalRenew_2_white {
    width: 118.06px;
    height: 29.92px;
    background-color: #F6F6F6;
    color: #0D2A53;
    font-size: 18px;
    text-align: center;
}

.ModalRenew_3 {
    color: #D2DB08;
    font-size: 40px;
    text-align: center;
    margin-top: -10px;
}

.ModalRenew_3_white {
    color: #00659D;
    font-size: 40px;
    text-align: center;
    margin-top: -10px;
}

.white_back {
    position: absolute;
    margin-top: 17px;
    margin-left: 131px;
}

.ModalRenew_4 {
    font-size: 23px;
    margin-top: 10px;
}

.ModalRenew_5 {
    color: #37FF80;
    font-size: 35px;
    font-weight: medium;
}

.Renew_avatar {
    position: absolute;
    padding-left: 53px;
    margin-top: -34px;
    margin-left: -49px;
}

.Renew_crawn {
    position: absolute;
    margin-top: 17px;
    margin-left: 131px;
}

.ModalRenew_7 {
    color: #E6E6E6;
    font-size: 22px;
    font-weight: medium;
}

.ModalRenew_7_white {
    color: #0D2A53;
    font-size: 22px;
    font-weight: medium;
}

.ModalRenew_9 {
    color: #E6E6E6;
    font-size: 15px;
}

.ModalRenew_9_white {
    color: #0D2A53;
    font-size: 15px;
}

.ModalRenew_11 {
    grid-gap: 10px
}

.ModalRenew_12 {
    color: #FF9100;
    font-size: 40px;
    margin-top: -10px;
}

.ModalRenew_13 {
    color: #FF5757;
    font-size: 35px;
    font-weight: medium;
}

.ModalRenew_14 {
    color: #E6E6E6;
    font-size: 25px;
    font-weight: medium;
    padding-left: 72px;
    margin-top: 20px;
}

.ModalRenew_14_white {
    color: #0D2A53;
    font-size: 25px;
    font-weight: medium;
    padding-left: 72px;
    margin-top: 20px;
}

.ModalWithdrawal_1 {
    color: #E6E6E6;
    font-size: 20px;
    font-weight: medium;
}

.ModalWithdrawal_1_white {
    color: #0D2A53;
    font-size: 20px;
    font-weight: medium;
}

.ModalWithdrawal_2 {
    width: 199px;
    height: 42.5px;
    text-align: center;
    background-color: #0B2447;
    font-size: 20px;
    color: #E6E6E6;
    padding-top: 3px;
    margin-top: 10px;
    border-radius: 8px;
}

.ModalWithdrawal_2_white {
    width: 199px;
    height: 42.5px;
    text-align: center;
    background-color: #F6F6F6;
    font-size: 20px;
    color: #0D2A53;
    padding-top: 3px;
    margin-top: 10px;
    border-radius: 8px;
}

.ModalWithdrawal_0 {
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}

.ModalWithdrawal_3 {
    color: #E6E6E6;
    font-size: 20px;
    font-weight: medium;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}

.ModalWithdrawal_3_white {
    color: #0D2A53;
    font-size: 20px;
    font-weight: medium;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}

.ModalWithdrawal_4 {
    text-align: center;
    height: 42.5px;
    background-color: #0B2447;
    color: #E6E6E6;
    font-size: 20px;
    border-radius: 8px;
    padding-top: 5px;
}

.ModalWithdrawal_4_white {
    text-align: center;
    height: 42.5px;
    background-color: #F6F6F6;
    color: #0D2A53;
    font-size: 20px;
    border-radius: 8px;
    padding-top: 5px;
}

.ModalWithdrawal_5 {
    color: #E6E6E6;
    margin-top: 40.1px;
    text-align: center;
    font-size: 20px;
    font-weight: medium;
}

.ModalWithdrawal_5_white {
    color: #0D2A53;
    margin-top: 40.1px;
    text-align: center;
    font-size: 20px;
    font-weight: medium;
}

.ModalWithdrawal_6 {
    color: #E6E6E6;
    font-size: 40px;
}

.ModalWithdrawal_6_white {
    color: #0D2A53;
    font-size: 40px;
}

.ModalWithdrawal_7 {
    font-size: 26px;
    margin-top: 10px;
}

.Withdrawal_button {
    color: #D2DB08;
    border-color: #D2DB08;
    width: 160px;
    height: 53px;
    border-radius: 8px;
    font-size: 25px;
    margin-top: 40px;
}

.Withdrawal_button_white {
    color: #00659D;
    border-color: #00659D;
    width: 160px;
    height: 53px;
    border-radius: 8px;
    font-size: 25px;
    margin-top: 40px;
}

.ModalWithdrawal_8 {
    text-align: center;
    font-size: 20px;
    color: #E6E6E6;
    margin-top: 10px;
}

.ModalWithdrawal_8_white {
    text-align: center;
    font-size: 20px;
    color: #0D2A53;
    margin-top: 10px;
}

.ModalWithdrawal_9 {
    color: #5BDEAA;
    font-size: 17px;
    text-align: center;
}

.ModalWithdrawal_9_white {
    color: #00659D;
    font-size: 17px;
    text-align: center;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    color: #D2DB08 !important;
}

.css-1yjjitx-MuiSwitch-track {
    background-color: red !important;
}

.Toggle_theme {
    color: #E6E6E6;
    font-size: 20px;
}

#comment_white .modal-content {
    background-color: #FFFFFF;
}