.SideBar_Home_out {
    margin-top: 20px;
    margin-right: 20px;
}

.MainBar_out {
    width: 70%;
}

.RightBar_out {
    width: 30%;
}

.ViewProfile_Mycomments_1 {
    width: 28%;
}

.ViewProfile_Mycomments_2 {
    width: 72%;
}

.VP_RightBarSub1_out {
    width: 63.7%;
}

.VP_RightBarSub2_out {
    width: 36.3%;
}

.Sub3Logo {
    margin-left: 12px;
    margin-top: 20px;
    width: 458px;
}