.HighLightAvatar_out {
    width: 101px;
    height: 101px;
    display: flex;
    vertical-align: center;
}

.HighLightAvatar_out_VP {
    width: 101px;
    height: 101px;
    display: flex;
    vertical-align: center;
    margin-left: -28px;
}

.hightlight_avatar {
    position: absolute;
    margin-top: 13px;
    margin-left: -12px;
    width: 113.6px;
}

.hightlight_avatar_VP {
    position: absolute;
    margin-top: 46px;
    margin-left: 15px;
    /* width: 113.6px; */
    width: 139.85px;

}

.highlight_logo {
    position: absolute;
    padding-left: 53px;
    margin-top: 13px;
    margin-left: 5px;
}

.highlight_logo_VP {
    position: absolute;
    padding-left: 116px;
    margin-top: 84px;
    margin-left: 2px;
}

.HighLightMiddle_out {
    margin-left: 0px;
}

.HighLightMiddle_out_Edit {
    margin-top: 32px;
}

.HighLightMiddle_1 {
    font-size: 29px;
    color: #D2DB08;
    font-family: Light;
    margin-top: 10px;
}

.HighLightMiddle_1_white {
    font-size: 29px;
    color: #00659D;
    font-family: Light;
    margin-top: 10px;
}

.HighLightMiddle_2 {
    font-size: 26px;
    color: #E6E6E6;
    font-family: 'Roboto';
}

.HighLightMiddle_2_white {
    font-size: 26px;
    color: #0D2A53;
    font-family: 'Roboto';
}

.HighLightMiddle_2_origin {
    font-size: 18px;
    color: #E6E6E6;
    font-family: Light;
}

.HighLightMiddle_2_origin_white {
    font-size: 18px;
    color: #0D2A53;
    font-family: Light;
}

.HighLightMiddle_2_Edit {
    font-size: 25px;
    color: #E6E6E6;
    font-family: 'Roboto';
    margin-top: 1px;
}

.HighLightMiddle_2_Edit_white {
    font-size: 25px;
    color: #0D2A53;
    font-family: 'Roboto';
    margin-top: 1px;
}

.HighLightMiddle_3 {
    font-size: 16px;
    color: #E6E6E6;
    font-family: Light;
    margin-top: 5px;
}

.HighLightMiddle_3_white {
    font-size: 16px;
    color: #0D2A53;
    font-family: Light;
    margin-top: 5px;
}

.HighLightMiddle_3_Edit {
    font-size: 16px;
    color: #E6E6E6;
    font-family: Light;
    margin-top: 1px;
}

.HighLightMiddle_3_Edit_white {
    font-size: 20px;
    color: #0D2A53;
    font-family: Light;
    margin-top: 1px;
}

.highlight_number {
    color: #4DD5FF;
    font-size: 20px;
    font-family: Light;
}

.highlight_number_white {
    color: #3F77DB;
    font-size: 20px;
    font-family: Light;
}

.highlight_number_Edit {
    color: #4DD5FF;
    font-size: 29px;
    font-family: Light;
}

.highlight_number_Edit_white {
    color: #3F77DB;
    font-size: 29px;
    font-family: Light;
}

.HighLightEnd_out {
    margin-left: 43px;
}

.HighLightEnd_1 {
    margin-top: 12px;
}

.HighLightEnd_2 {
    justify-content: space-evenly;
    margin-top: 10.5px;
}
.HighLightEnd_2_1 {
    justify-content: space-evenly;
    margin-top: 6.5px;
}
.HighLightEnd_3 {
    margin-top: 0px;
}

.highlight_button {
    width: 95px;
    height: 34px;
    font-size: 17px;
    color: #77FFA9;
}

.highlight_button_White {
    width: 95px;
    height: 34px;
    font-size: 17px;
    color: #00659D;
    border-color: #00659D;
}

.highlight_button.btn-outline-info {
    border-color: #77FFA9;
}

.highlightMiddle_expert_button {
    width: 117.03px;
    height: 30.28px;
    border-radius: 18px;
    font-size: 18px;
    color: #FFA200;
}
.highlightMiddle_expert_button:hover {
    width: 117.03px;
    height: 30.28px;
    border-radius: 18px;
    font-size: 18px;
    color: #FFA200;
    background-color: transparent;
}
.highlightMiddle_expert_button:active {
    width: 117.03px;
    height: 30.28px;
    border-radius: 18px;
    font-size: 18px;
    color: #FFA200;
    background-color: transparent;
}
.highlightMiddle_expert_button:focus {
    width: 117.03px;
    height: 30.28px;
    border-radius: 18px;
    font-size: 18px;
    color: #FFA200;
    background-color: transparent;
    box-shadow: none;
}
.highlightMiddle_expert_button.btn-outline-info {
    border-color: #FFA200;
}

.HighLightMiddle_3_expert {
    font-size: 17px;
    color: #E6E6E6;
    margin-top: -7px;
}

.HighLightMiddle_3_expert_white {
    font-size: 17px;
    color: #0D2A53;
    margin-top: -7px;
}

.HighLightEditMainBar_out {
    height: 130px;
    border-radius: 8px;
    background-color: #0B2447;
    display: flex;
    margin-top: 20px;
    padding-left: 26px;
}

.HighLightEditMainBar_out_white {
    height: 130px;
    border-radius: 8px;
    background-color: #F6F6F6;
    display: flex;
    margin-top: 20px;
    padding-left: 26px;
}

.EditMainBar_1 {
    margin-left: -5px;
    align-items: center;
    color: #D2DB08;
    font-size: 25px;
    display: flex;
}

.EditMainBar_1_white {
    margin-left: -5px;
    align-items: center;
    color: #00659D;
    font-size: 25px;
    display: flex;
}

.EditMainBar_2 {
    margin-left: 55px;
    align-items: center;
    color: #FFA200;
    font-size: 25px;
    display: flex;
}

.EditMainBar_3 {
    margin-left: 83.17px;
    align-items: center;
    display: flex;
}

.EditMainBar_4 {
    align-items: center;
    display: flex;
}

.EditMainBar_5 {
    margin-left: 79px;
    align-items: center;
    color: #37FF80;
    font-size: 25px;
    display: flex;
}

.EditMainBar_6 {
    margin-left: 57px;
    align-items: center;
    color: #FF5757;
    font-size: 25px;
    display: flex;
}

.EditMainBar_7 {
    align-items: center;
    display: flex;
    margin-left: 35px;
}

.EditMainBar_8 {
    margin-left: 57px;
    align-items: center;
    display: flex;
}

.white_back1 {
    position: absolute;
    margin-top: 13px;
    margin-left: 58px;
}

.highlight_button_Edit {
    width: 135px;
    height: 44px;
    font-size: 17px;
    color: #4DD5FF;
}

.white_back_VP {
    position: absolute;
    margin-top: 84px;
    margin-left: 118px;
}

.back {
    position: absolute;
    margin-top: 84px;
    margin-left: 118px;
}

.highlight_button_Edit_white {
    width: 135px;
    height: 44px;
    font-size: 17px;
    color: #3F77DB;
    border-color: #3F77DB;
}

.highlight_button_Edit.btn-outline-info {
    border-color: #4DD5FF;
}